<h1>Editing Blood Bank Insurance</h1>

<%= render 'form', blood_bank_insurance: @blood_bank_insurance %>

<%= link_to 'Show', @blood_bank_insurance %> |
<%= link_to 'Back', blood_bank_insurances_path %>
