.after_home_nav{
  background-color: #6887b0;
  height: 400px;
  padding: 3rem;
}
.home_title{
  font-size: 4rem;
  color: white;
  font-weight: 400px;
  letter-spacing: 10px;
  text-align: center;
  padding: 2rem;


}

.houme_sous_title{
  font-size: 20px;
}
