// Place all the styles related to the hospitals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
}
.menu-item-rigth{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
nav ul{
  height: 60px;
}
.menu-item{
  margin-left: 10px;
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav-item{
//color: black !important;
color: #ffffff !important;

}

header ul{
  //background-color: #c6c5da;
  background-color: #379cd2;
  margin-right: 0;
  color: #ffffff;

  font-size: 1.5rem;
  line-height: 1.6;

}

header ul div li a:hover{
  text-decoration: none;
  background-color: #f3dfdf00,
}

.logo{
  color: #512da8 !important;
  font-size: 25px;
}

.logo:hover{
  background-color: #999999 !important;
}

/*
For hospitals uniquely
*/

.after_nav{
  background-color: #005500;
  height: 400px;
  padding: 3rem;
}
.after_nav_detail_page{
  background-color: #005500;
  height: 200px;
  padding: 3rem;
}
.look_hospital{
font-size: 5rem;
padding: 2rem;

color: white;
text-align: center;
}

.place{
  color: grey;
  text-align: center;
  padding: 1rem;
}
.search-block{
  color: wihte;
}

.wite-color{
  color: white;
}
.list-table{
  margin-top: 50px !important ;
}

.table-container{
  background-color: white;
}
.comments{
  margin-top: 200px;
  margin-bottom: 100px;
  padding-bottom: 150px;

}

#comments_area{
  border-radius: 10px;
  border-width: 2px;
  border-style: dashed;
  border-color: blue;

}

.bouton-supprimer, .bouton-editer{
  text-decoration: none !important;
  color: white !important;
}

.liste-commentaire{
  list-style: none;
}

.lien_google{
  text-decoration: none !important;
  color: blue !important;
}
.lien_google :hover{
  text-decoration: underline !important;
}
.bouton-detail{
  color: white !important;

}

.my-footer{
  background-color: #005500 !important;
  margin-top: 500px;
}

footer {
 // background-color:  #005500;
 background-color: #333333;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: table;
}

footer p {
  display: table-cell;
  font-size: 1rem;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.principal{
  margin-bottom: 300px;
}

#hospital_town_id, #hospital_area_id, #hospital_speciality_id{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

#pharmacy_town_id, #pharmacy_area_id{
  padding-top: 5px !important;
    padding-bottom: 5px !important;
}

#blood_bank_town_id, #blood_bank_area_id{
  padding-top: 5px !important;
    padding-bottom: 5px !important;
}
